<h1>Listing users</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Password</th>
    <th>Reason to join</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
	  <td><%= @user.password %></td>
	  <td><%= @user.reason %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
    </tr>
  <% end %>
</table>