<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
<p>
  <strong>Reason to join:</strong>
  <%= @user.reason %>
</p>

<%= link_to 'Back', users_path %>